body {
    color: lightgray;
    background-color: #0b0e14;
}

#root {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  text-align: center;

}

.temp-chart {
    width: 50vw;
    height: 70vh;
    margin-bottom: 1.5rem;
}

.nav {
    padding: 2vw;
}

.nav-pills .net-pill .nav-link:not(.active) {
    background-color: #0b0e14 !important;
    color: #f28779 !important;
}

.nav-pills .net-pill .nav-link {
    background-color: #f28779 !important;
    color: #0b0e14 !important;
}

.nav-pills .cpu-pill .nav-link:not(.active) {
    background-color: #0b0e14 !important;
    color: #dfbfff !important;
}

.nav-pills .cpu-pill .nav-link {
    background-color: #dfbfff !important;
    color: #0b0e14 !important;
}

.tab-pane {
    margin: 0;
    padding: 0 2vw;
}

.stats-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2vw;
}

@media screen and (max-aspect-ratio: 4/5) {
    .stats-container {
        flex-direction: column;
    }
    
    .temp-chart {
        width: 96vw;
        height: 30vh;
    }
}
