html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: larger;
}

#main-container {
    width: 75vw;
    max-width: 1000px;
    height: 100%;
    margin: auto;
}

@media screen and (max-aspect-ratio: 4/5) {
    #main-container {
        width: 90vw;
        max-width: 90vw;
    }
}
