.proc-container {
    border: 2px solid #eeba45;
    height: 60vh;
    overflow: scroll;
    overflow-wrap: anywhere;
}

.proc-col {
    text-align: left;
    margin: 0 2px;
    font-weight: bold;
}

.col-content {
    min-height: 2.8ex;
    overflow: hidden;
    white-space: nowrap;
}

.pid-col {
    width: 25%;
}

.name-col {
    width: 35%;
}

.memory-col {
    width: 20%;
    text-align: right;
}

.threads-col {
    width: 20%;
    text-align: right;
}

@media screen and (max-aspect-ratio: 4/5) {
    .proc-col {
        font-size: small;
    }
}
