@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    line-height: 24px;
    font-weight: 400;
}

body {
    font-family: monospace !important;
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.recharts-yAxis {
    display: none !important;
}

.stats-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2vw;
}

@media screen and (max-width: 768px) {
    .stats-container {
        flex-direction: column;
    }
}
