body {
    color: lightgray;
    background-color: #0b0e14;
}

#root {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
}
.host-bar {
    padding: 0.5rem;
    font-size: 0.75rem;
    display: flex;
    justify-content: space-between;
}

.tab-pane {
    margin: 0;
    padding: 0 2vw;
}

#net-interface-prev,
#net-interface-next {
    cursor: pointer;
    user-select: none;
    transition: transform 0.1s ease-in-out;
    border: none;
    background: none;
    color: inherit;
    padding: 0;
}

#net-interface-prev:hover,
#net-interface-next:hover {
    transform: scale(1.1);
}

#net-interface-prev:active,
#net-interface-next:active {
    transform: scale(0.9);
}

#net-interface-prev,
#net-interface-next {
    position: relative;
    top: 50%;
}
