body {
    color: lightgray;
    background-color: #0b0e14;
}

#root {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
}
.host-bar {
    padding: 0.5rem;
    font-size: 0.75rem;
    display: flex;
    justify-content: space-between;
}

.tab-pane {
    margin: 0;
    padding: 0 2vw;
}
