.cpu-stats-container {
    flex-direction: column;
}

.core-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    white-space: pre;
}

.progress {
    background-color: #565b66;
}

.bars-container {
    display: flex;
    flex-direction: column;

    gap: 1vh;
}

.cpu-bar {
    background-color: #dfbfff;
}
